.UserListItem { /* user-item */
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
}
  
.UserListItem a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
}

.UserListItem a:hover,
.UserListItem a:active {
    background: #ffd900;
}

.UserListItemContent { /* user-item__content */
    padding: 0;
}

.UserListItemImage { /* user-item__image */
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.UserListItemInfo h2 { /* user-item__info */
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: #ffd900;
}

.UserListItem:hover h2,
.UserListItem:active h2,
.UserListItem:hover h3,
.UserListItem:active h3 {
    color: #292929;
}

.UserListItemInfo h3 {
    margin: 0;
}