.Item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
}

.Item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1rem;
    color: white;
    background: #292929;
}

.Item a:hover,
.Item a:active {
    background: rgb(35, 69, 130);
}

.Content {
    padding: 0;
}

.Image {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.Info h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    font-weight: normal;
    color: mediumseagreen;
}

.Info p {
    font-size: 0.7rem;
    margin: 0;
    text-decoration: underline;
    color: burlywood;
}

.Item:hover h2,
.Item:active h2,
.Item:hover h3,
.Item:active h3 {
    color: #ccc;
}

.Info h3 {
    margin: 0;
}